.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  position: relative;
  z-index: 2;
}

.maxWidthWrapper {
  max-width: 1024px;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 150px;
  right: 100px;
}

.controlColumn {
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  .header {
    display: none;
  }

  .controlColumn {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
  }

  .controlColumn::-webkit-scrollbar {
    display: none;
  }

  .maxWidthWrapper {
    height: 75vh;
    padding-top: 50vh;
    z-index: 2;
    overflow: hidden;
    position: relative;
  }

  .characterWrapper {
    z-index: 1;
    top: -150px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 500px;
    margin: auto;
  }
}
