* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body,
h2,
h1 {
  margin: 0;
  padding: 0;
}
/* Add styles here! */

h1 {
  font-size: 2rem;
  margin-bottom: 72px;
}

h2 {
  font-size: 1.5rem;
}

header .max-width-wrapper {
  padding: 72px 0;
}

.intro-chunk {
  width: 700px;
  margin: auto;
  padding-left: 24px;
}

header strong {
  color: hsl(160deg, 100%, 30%);
}

header p {
  max-width: 400px;
  font-size: 1.25rem;
  line-height: 1.5;
}

main p {
  font-size: 1rem;
  line-height: 1.5;
}

main .max-width-wrapper {
  background-color: hsl(0deg, 0%, 70%);
  border-top: 6px solid hsl(0deg, 0%, 40%);
  padding: 64px 0;
}

.card {
  border-bottom: 6px solid hsl(0deg, 0%, 40%);
  width: 700px;
  margin: auto;
  background-color: hsl(0deg, 0%, 100%);
  padding: 0 24px;
  padding-top: 8px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 6px solid hsl(45deg, 100%, 40%);
  width: max-content;
  padding: 16px 40px;
  margin-left: -40px;
}

@media (max-width: 960px) {
  .card {
    width: 100%;
  }

  .intro-chunk {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .card p {
    display: none;
  }

  .card {
    padding-bottom: 16px;
    border-bottom: none;
  }
}
